@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}





/* custom radio buttons */

input[type='radio']:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

input[type='radio']:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

/* custom check box adjustments */

input[type='checkbox']:after {
  width: 16px;
  height: 16px;
  position: relative;
  content: '';
  top: -2px;
  display: inline-block;
  visibility: visible;
  border: 1px solid black;
}